@page "/"

<PageTitle>StudyMate</PageTitle>

<div class="row">
    <div class="col-md-6">
        <h4>Groups</h4>
        <GroupList></GroupList>
    </div>
    <div class="col-md-6">
        <h4>Schwarzes Brett</h4>
        <ForumPostFeed></ForumPostFeed>
    </div>
</div>