

@page "/Tutorials"

<head>
  <link rel="stylesheet" href="style.css">
</head>

<h1>Tutorials</h1>

<p> At this site you can watch Tutorials created by students.</p>

<style type="text/css">
h2,h3 {color:blue;}
    h2,h3 {font-size:20px;}
    h2,h3{width: 350px;}
    h2,h3{height: 22px;}
  h3 { margin-top:2cm; }
     { margin-top:40px; }
  h3 { margin-top:2cm; }
</style>


<div class="video-container">
    <h2>So starten sie ihr Studium an der HAW</h2>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/XN7pzxmEjlk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
   </iframe>
   <h3>Einstieg in Java </h3>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/RRubcjpTkks?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
   </iframe>
    </div>
    